@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-montserrat: "Montserrat", sans-serif;
    --font-poppins: "Poppins", sans-serif;
    --font-cormorant-garamond: "Cormorant Garamond", sans-serif;
}

body {
    font-family: var(--font-mont);
    background: #fffcf3;
}

/* Fonts */
.montserrat {
    font-family: var(--font-montserrat);
}
.poppins {
    font-family: var(--font-poppins);
}
.cormorant-garamond {
    font-family: var(--font-cormorant-garamond);
}

/* Hover Animations */
.hover-underline-animation {
    display: inline-block;
    position: relative;
}

.hover-underline-animation::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1.5px;
    bottom: 0;
    left: 0;
    background-color: #383838;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
}

.hover-underline-animation.left::after {
    transform-origin: bottom right;
}

.hover-underline-animation.left:hover::after {
    transform-origin: bottom left;
}
